
// Fonts
/* @import url('https://fonts.googleapis.com/css?family=Nunito'); */
@import 'fonts';
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//pluggins

// - Slick carusel
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
// - Js-offcanvas
@import '~js-offcanvas/dist/_css/js-offcanvas';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-family-sans-serif-regular;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6d6d6d; 
    border-radius: 10px;
    background: #6d6d6d;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: rgba($grencustom, .8); 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $grencustom; 
  }
  //js-offcanvas
  body {
    overflow-x: hidden;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .offcanvas-nav .form-inline { display: none}
  .is-hidden {  visibility: hidden;}



//inicio
@import 'components/inicio';

//section about
@import 'components/about';

//section secvicios
@import 'components/servicios';

//section mercados objetivos
@import 'components/mercados';

//section proyectos destacados
@import 'components/proyectos_slick';
@import 'components/proyectos';

// section giras tecnológicas
@import 'components/girastecnologicas';

//seccion blog, ultimas publicaciones o newsletter
@import 'components/blog';

//seccion socios estrategicos
@import 'components/socios';

//seccion oficinas
@import 'components/oficinas';

//seccion reunion de trabajo (formulario)
@import 'components/reuniontrabajo';

// seccion footer
@import 'components/footer';