/* MOVILE FIRST */

.container-about{
    background-color: red;
        .jumbotron-fluid{
            margin: 0;
        }
        .jumbotron-img{
                background-image: url('/img/antofagasta.jpg');
                background-size: cover;
                height: 320px;
                .container{
                    text-align: center;
                    .tag-lugar{
                        display: inline-block;
                        padding: 10px 15px;
                        background-color: rgba($color: $grencustom, $alpha: .75);
                        color: white;
                        text-align: center;
                        position: relative;
                        margin-top: 200px;
                    }
                }
        }
        .jumbotron-text{
            .container{
                .btn-success{
                    background-color: $grencustom;
                    color: white;
                    border-radius: 12px;
                }
            }
        }
}


/* TABLET VERSION */
@media (min-width: 768px) {

    .container-about{
        display: flex;
        background-image: url('/img/antofagasta.jpg');
        background-size: cover;
        position: relative;
            .jumbotron-img{
                background: none;
                width: 50%;
                z-index: 1;
                .container{
                    .tag-lugar{
                        margin-top: 310px;
                    }
                }
            }
            .jumbotron-text{
                z-index: 1;
                width: 50%;
                background: none;
                color: black;
            }
    }
    .container-about:after{
        content: '';
        display: block;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,1));
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

/* DESKTOP VERSION */
@media (min-width: 992px) {

}