/* MOVILE FIRST */
.jumbotron_girastecnologicas{
    #carousel {
        width:100%;
        border:1px solid red;
        height:300px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
        #carousel img {
            visibility:hidden; /* hide images until carousel can handle them */
            cursor:pointer; /* otherwise it's not as obvious items can be clicked */
            width: 200px !important;
        }
    }
}

/* TABLET VERSION */
@media (min-width: 768px) {
    
}