/* MOVILE FIRST */
.principal{
    font-family: $font-family-sans-serif-regular;
    display: flex;
    flex-direction: column;
    /* header */
    .container-navbar{
       background-color: rgba($color: #000000, $alpha: 0);
        padding: 0 30px;
        position: absolute;
        top: 20px;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
        z-index: 10 !important;
        .navbar-nav .nav-link{
            color: black;
           font-weight: normal;
       }
       .circle-country img{
           border: 1px solid $grencustom;
           border-radius: 50%;
           width: 20px;
           height: 20px;
       }
    
    }
    /* carusel */
    .carousel-customized{
        order: 2;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    img{
                        min-height: 100vh;
                        min-width: 100%;
                    }
                    .carousel-caption{
                        text-align: left;
                        z-index: 0;
                        top: 35%;
                            left: 15%;

                        h5{
                            font-family: $font-family-sans-serif-black;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: $font-size-title;//1.5rem
                            .green-color-text{
                                color: $grencustom;
                                font-weight: bold;
                            }
                        }
                        p{
                            font-size: $font-size-subtitle; //1.1rem
                        }
                    }
                }
            }
        }
    }
}


/* TABLET VERSION */
@media (min-width: 768px) {
    /*carusel*/
    .principal{
        .carousel-customized{
            order: 1;
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        .carousel-caption{
                            h5{
                                font-size: 1.5em;
                            }
                            p{
                                font-size: .9em;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* DESKTOP VERSION */
@media (min-width: 992px) {
    .principal{
        
        .container-navbar{
            background-color: transparent;
            padding: 0 65px;
           
            order: 2;
           
            
           
            .nav-link{
                font-size: .87em;
                color: white !important;
            }
        }
        /*carusel*/
        .carousel-customized{
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        .carousel-caption{
                            top: 35%;
                            left: 15%;
                            h5{
                                font-size: 2em;
                            }
                            p{
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .container-img-logo img{
        height: 90px;
    }
    
    .navbar-nav .nav-link:nth-child(7){
        border-right: 2px solid #eee;
    }
    .navbar-nav .nav-link-cutsom:hover, .active{
        padding-bottom: 5px;
        margin-bottom: -8px;
        border-bottom: 3px solid $grencustom;
    }

    .navbar-nav .nav-link-cutsom:target{
        padding-bottom: 5px;
        margin-bottom: -8px;
        border-bottom: 3px solid $grencustom;
    }
    

}