/* MOVILE FIRST */
.principal{
    font-family: 'Montserrat' ,'roboto', 'nunito', arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* header */
    .container-navbar{
       background-color: $grencustom;
        padding: 0 30px;
        .navbar-nav .nav-link{
            color: black;
           font-weight: normal;
       }
       .circle-country img{
           border: 1px solid $grencustom;
           border-radius: 50%;
       }
    
    }
    /* carusel */
    .carousel-customized{
        order: 2;
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        
                        text-align: left;
                        z-index: 0;

                        h5{
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: .8em;
                            .green-color-text{
                                color: $grencustom;
                                font-weight: bold;
                            }
                        }
                        p{
                            font-size: .5em;
                        }
                    }
                }
            }
        }
    }
}





/* DESKTOP VERSION */
@media (min-width: 992px) {
    .principal{
        
        .container-navbar{
            padding: 0 65px;
            position: absolute;
            order: 2;
            top: 20px;
            margin-left:auto;
            margin-right:auto;
            left:0;
            right:0;
            z-index: 10 !important;
            .nav-link{
                font-size: .87em;
                color: white !important;
            }
        }
        /*carusel*/
        .carousel-customized{
            order: 1;
            .carousel{
                .carousel-inner{
                    .carousel-item{
                        .carousel-caption{
                            top: 35%;
                            left: 15%;
                            h5{
                                font-size: 2em;
                            }
                            p{
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .container-img-logo img{
        height: 90px;
    }
    
    .navbar-nav .nav-link:nth-child(7){
        border-right: 2px solid #eee;
    }
    .navbar-nav .nav-link-cutsom:hover, .active{
        padding-bottom: 5px;
        margin-bottom: -8px;
        border-bottom: 3px solid $grencustom;
    }

    .navbar-nav .nav-link-cutsom:target{
        border-bottom: none;
    }
    

}