/* MOVILE FIRST */
.jumbotron-mercado{
    .container{
        margin-bottom: 30px;
        .display-border{
            font-size: 1.4em; // <- REVISAR DESKTOP
            text-align: center;
            height: 20px;
        }
        .display-border::after{
            content: '';
            display: block;
            margin: 8px auto;
            width: 20px;
            border-bottom: 3px solid $grencustom;
        }
    }
    .jb_m_items{
        .mercado{
            background-size: cover;
            background-repeat: no-repeat;
            font-weight: 500;
            text-align: center;
            .container{
                position: relative;
                z-index: 10;
                color: white;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                //transition
                -webkit-transition: all 0.8s ease-in;
                -moz-transition: all 0.8s ease-in;
                -o-transition: all 0.8s ease-in;
                transition: all 0.8s ease-in;
                .display-lead{
                    .display-4{
                        font-size: 1.5em;
                    }
                    .lead{
                        font-size: 1em;
                    }
                }
                .btn-success{
                    margin-bottom: -50px;
                    display:  none;
                }
            }
            .container:hover{
                .btn-success{
                    display: block;
                }
            }
        }
        .mercado:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .75);
            position: absolute;
            bottom: 0;
        }
        //mercados
        .mercado-1{
            background-image: url('/img/mercado/peru.jpg');
        }
        .mercado-2{
            background-image: url('/img/mercado/china.jpg');
        }
        .mercado-3{
            background-image: url('/img/mercado/hongkong.jpg');
        }
        .mercado-4{
            background-image: url('/img/mercado/australia.jpg');
        }
    }
}

/* TABLET VERSION */
@media (min-width: 768px) {

}