/* MOVILE FIRST */
.jumbotron-proyectos{
    background-color: white;
    .proyecto_uno{
      .proyeto_title{
        h2{
          font-size: 1em;
          font-weight: bold;
        }
        h3{
          font-size: .8em;
        }
      }
    }
}

/* TABLET VERSION */
@media (min-width: 768px) {
    
}
